@font-face {
    font-family: 'LL Riforma Regular';
    src: url(/fonts/LL\ Riforma\ Regular.woff) format('woff');
    font-weight: normal;

}

:root {
    --color-primary: #EFF1F4;
    --color-panel: #FFFFFF;
    --color-maintext: #000000; 
    --color-subtext: #9C9C9C; 
    --color-altprimary: #2C00FF; 
    --color-altsub: #E4E5EA;

    --color-meter: #B3FF00;

    --basic-margin: 3vh; 
    --basic-margin-mobile: 2vh;
    
    --panel-border-radius: 1.7vh ;

    --card-padding: 3vh; 
    --card-padding-mobile: 1.5vh; 

    --block-margin-top: 2vh;

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-family: 'LL Riforma Regular';
    font-weight: normal;
    color: var(--color-maintext);
    font-size: 7vw;
}

h2 {
    font-family: 'LL Riforma Regular';
    font-weight: normal;
    color: var(--color-maintext);
    font-size: 1vw;
}

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #EFF1F4;
    z-index: 0;
    overflow: hidden;
}

#headline{
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
    z-index: 2;
}

#head-desc {
    position: absolute;
    width: 25%;
    top: 85%;
    left: 70%;
}

#action {
    cursor: pointer;
}


#action:hover {
    cursor: pointer;
}

#action-button {
    position: absolute;
    background-image: url(/img/action-button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 2.5vw;
    height: 2.5vw;
    left: 5%;
    top: 85%;
}
#action-desc {
    left: 8%;
    top: 86.6%;
    position: absolute;
}

#bg-figure1 {
    position: absolute;
    z-index: 1;
    background-image: url(/img/Round\ Cube.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 50vh;
    left: 50%;
    top: 25%;
    animation: floating 3s ease-in-out infinite;
}
#bg-figure2 {
    position: absolute;
    z-index: 1;
    background-image: url(/img/Torus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40vh;
    height: 40vh;
    left: 65%;
    top: 15%;
    animation: floating2 3s ease-in-out infinite;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}


#tutorials {
    position: relative;
    overflow: hidden;
    background-color: #E4E5EA;
    width: 100vw;
    height: 100vh;
}

#headline-2{ 
    position: absolute;
    top: 5%;
    width: 100%;
    left: 5%;
    z-index: 2; 
}

#head-desc-2 {
    position: absolute;
    width: 25%;
    top: 20%;
    left: 6%;
    color: #9C9C9C;
}

#tutorial-table {
    
}

#table {
    position: absolute;
    left: 5%;
    top: 35%;
    display: flex;
    flex-direction: column;

}

.table-button {
    font-family: 'LL Riforma Regular';
    font-weight: normal;
    color: var(--color-maintext);
    font-size: 1vw;
    border-radius: 14px;
    background-color: var(--color-panel);
    cursor: pointer;
    -webkit-transition: all 100ms;
     -moz-transition: all 100ms;
          transition: all 1 00ms;
          transition-timing-function: ease-in-out;
    width: 30vw;
    height: 3.9vw;
    margin-bottom: 5.5%;
    text-align: left;
    padding-left: 8%;
    
}

#tutorial-1 {
    
}
#tutorial-2 {
    
}
#tutorial-3 {
    
}
#tutorial-4 {
    
}
#tutorial-5 {
    
}

#table-header {
    position: absolute;
    top: 37%;
    font-size: 2vw;
    width: 100%;
    left: 40%;
}

#tutorial-panel {
    position: absolute;
    left: 40%;
    overflow: hidden;
    top: 45%;
    border-radius: 14px;
    width: 50vw;
    height: 20vw;
    background-color: white;
    
}

#tutorial-text {
    position: absolute;
    width: 50%;
    top: 35%;
    left: 5%;
}

#tutorial-img {
    position: absolute;
    z-index: 0;
    background-image: url(/img/Rock2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25vh;
    height: 25vh;
    left: 65%;
    top: 15%;
}

#tutorial-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

#tutorial-action {
    cursor: pointer;
}

#tutorial-action:hover {
    cursor: pointer;
}

#tutorial-action-button {
    position: absolute;
    background-image: url(/img/action-button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 2.5vw;
    height: 2.5vw;
    left: 87%;
    top: 37%;
}
#tutorial-action-desc {
    left: 80%;
    top: 38.5%;
    position: absolute; 
}




.table-button:hover {
    background-color: #2C00FF;
    color: white;
}

.table-button:active {
    background-color: #2C00FF;
    color: white;
}

.table-button.active {
    background-color: #2C00FF;
    color: white;
}

.table-button:focus {
    background-color: #2C00FF;
    color: white;
}

:target {
    background-color: #2C00FF;
    color: white;
}
  
header {
    position: fixed;
    z-index: 4;
    top: 5%;
    left: 70%;
    width: 100%;
  }

  #logo {
    position: absolute;
    right: 111%;
    background-image: url(/img/Logo.png);
    z-index: 4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 1.5vw;
  }

  
  /* Remove default list styling and display inline */
  ul {
    list-style-type: none;
    display: inline;
  }
  
  /* Display menu items inline and add spacing */
  li {
    display: inline-block;
    margin-right: 1vw;
  }
  
  /* Style the links */
  a {
    text-decoration: none;
    font-family: 'LL Riforma Regular';
    font-weight: normal;
    color: var(--color-maintext);
    font-size: 1.2vw;
  }


@media (max-width: 1024px) and (min-width: 769px) {
    
    body {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    h1 {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 8vw;
    }
    
    h2 {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 1.2vw;
    }
    
    #header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #EFF1F4;
        z-index: 0;
        overflow: hidden;
    }
    
    #headline{
        position: absolute;
        top: 55%;
        width: 90%;
        left: 5%;
        z-index: 2;
    }
    
    #head-desc {
        position: absolute;
        width: 25%;
        top: 85%;
        left: 65%;
    }
    
    #action {
        cursor: pointer;
    }
    
    
    #action:hover {
        cursor: pointer;
    }
    
    #action-button {
        position: absolute;
        background-image: url(/img/action-button.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 2.5vw;
        height: 2.5vw;
        left: 5%;
        top: 85%;
    }
    #action-desc {
        left: 8%;
        top: 86.3%;
        position: absolute;
    }
    
    #bg-figure1 {
        position: absolute;
        z-index: 1;
        background-image: url(/img/Round\ Cube.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50vh;
        height: 50vh;
        left: 50%;
        top: 25%;
        animation: floating 3s ease-in-out infinite;
    }
    #bg-figure2 {
        position: absolute;
        z-index: 1;
        background-image: url(/img/Torus.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 40vh;
        height: 40vh;
        left: 65%;
        top: 15%;
        animation: floating2 3s ease-in-out infinite;
    }
    
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 10px); }
        100%   { transform: translate(0, -0px); }   
    }
    @keyframes floating2 {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 20px); }
        100%   { transform: translate(0, -0px); }   
    }
    
    
    #tutorials {
        position: relative;
        overflow: hidden;
        background-color: #E4E5EA;
        width: 100vw;
        height: 100vh;
    }
    
    #headline-2{ 
        position: absolute;
        top: 10%;
        width: 100%;
        left: 5%;
        z-index: 2; 
    }
    
    #head-desc-2 {
        position: absolute;
        width: 25%;
        top: 21%;
        left: 6%;
        color: #9C9C9C;
    }
    
    #tutorial-table {
        
    }
    
    #table {
        position: absolute;
        left: 5%;
        top: 35%;
        display: flex;
        flex-direction: column;
    
    }
    
    .table-button {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 1vw;
        border-radius: 14px;
        background-color: var(--color-panel);
        cursor: pointer;
        -webkit-transition: all 100ms;
         -moz-transition: all 100ms;
              transition: all 1 00ms;
              transition-timing-function: ease-in-out;
        width: 30vw;
        height: 6vw;
        margin-bottom: 5.5%;
        text-align: left;
        padding-left: 8%;
        
    }
    
    #tutorial-1 {
        
    }
    #tutorial-2 {
        
    }
    #tutorial-3 {
        
    }
    #tutorial-4 {
        
    }
    #tutorial-5 {
        
    }
    
    #table-header {
        position: absolute;
        top: 37%;
        font-size: 2vw;
        width: 100%;
        left: 40%;
    }
    
    #tutorial-panel {
        position: absolute;
        left: 40%;
        overflow: hidden;
        top: 45%;
        border-radius: 14px;
        width: 50vw;
        height: 28vw;
        background-color: white;
        
    }
    
    #tutorial-text {
        position: absolute;
        width: 50%;
        top: 30%;
        left: 5%;
    }
    
    #tutorial-img {
        position: absolute;
        z-index: 0;
        background-image: url(/img/Rock2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25vh;
        height: 25vh;
        left: 65%;
        top: 15%;
    }
    
    #tutorial-cont {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    }
    
    #tutorial-action {
        cursor: pointer;
    }
    
    #tutorial-action:hover {
        cursor: pointer;
    }
    
    #tutorial-action-button {
        position: absolute;
        background-image: url(/img/action-button.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 2.5vw;
        height: 2.5vw;
        left: 87%;
        top: 37%;
    }
    #tutorial-action-desc {
        left: 78%;
        top: 38%;
        position: absolute; 
    }
    header {
        position: fixed;
        z-index: 4;
        top: 5%;
        left: 70%;
        width: 100%;
      }

    #logo {
        position: absolute;
        right: 111%;
        background-image: url(/img/Logo.png);
        z-index: 4;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 1.5vw;
      }
      
      /* Style the links */
      a {
        text-decoration: none;
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 1.2vw;
      }
}

@media (max-width: 768px) and ( min-width: 481px) {
    
    body {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    h1 {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 8vw;
    }
    
    h2 {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 2vw;
    }
    
    #header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #EFF1F4;
        z-index: 0;
        overflow: hidden;
    }
    
    #headline{
        position: absolute;
        top: 40%;
        width: 70%;
        left: 5%;
        z-index: 2;
    }
    
    #head-desc {
        position: absolute;
        width: 40%;
        top: 80%;
        left: 5%;
    }
    
    #action {
        cursor: pointer;
    }
    
    
    #action:hover {
        cursor: pointer;
    }
    
    #action-button {
        position: absolute;
        background-image: url(/img/action-button.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
        left: 5%;
        top: 90%;
    }
    #action-desc {
        left: 10%;
        top: 90.5%;
        position: absolute;
    }
    
    #bg-figure1 {
        position: absolute;
        z-index: 1;
        background-image: url(/img/Round\ Cube.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50vh;
        height: 50vh;
        left: 50%;
        top: 25%;
        animation: floating 3s ease-in-out infinite;
    }
    #bg-figure2 {
        position: absolute;
        z-index: 1;
        background-image: url(/img/Torus.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 40vh;
        height: 40vh;
        left: 65%;
        top: 15%;
        animation: floating2 3s ease-in-out infinite;
    }
    
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 10px); }
        100%   { transform: translate(0, -0px); }   
    }
    @keyframes floating2 {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 20px); }
        100%   { transform: translate(0, -0px); }   
    }
    
    
    #tutorials {
        position: relative;
        overflow-x: hidden;
        background-color: #E4E5EA;
        width: 100vw;
        height: 150vw;
    }
    
    #headline-2{ 
        position: relative;
        margin-top: 5%;
        width: 100%;
        left: 5%;
        z-index: 2; 
        font-size: 8vw;
    }
    
    #head-desc-2 {
        position: relative;
        width: 25%;
        top: 6%;
        left: 6%;
        color: #9C9C9C;
    }
    
    #tutorial-table {
        align-items: center;
        
    }
    
    #table {
        position: relative;;
        left: 5%;
        top: 10%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
    
    }
    
    .table-button {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 2vw;
        border-radius: 7px;
        background-color: var(--color-panel);
        cursor: pointer;
        -webkit-transition: all 100ms;
         -moz-transition: all 100ms;
              transition: all 1 00ms;
              transition-timing-function: ease-in-out;
        width: 90vw;
        height: 8vw;
        margin-bottom: 2%;
        text-align: left;
        padding-left: 8%;
        
    }
    
    #tutorial-1 {
        
    }
    #tutorial-2 {
        
    }
    #tutorial-3 {
        
    }
    #tutorial-4 {
        
    }
    #tutorial-5 {
        
    }
    
    #table-header {
        position: relative;
        top: 0%;
        font-size: 3.5vw;
        width: 100%;
        left: 5%;
    }
    
    #tutorial-panel {
        position: relative;
        left: 5%;
        overflow: hidden;
        top: 5%;
        border-radius: 14px;
        width: 90vw;
        height: 35vw;
        background-color: white;
        
    }
    
    #tutorial-text {
        position: absolute;
        width: 50%;
        top: 30%;
        left: 5%;
    }
    
    #tutorial-img {
        position: absolute;
        z-index: 0;
        background-image: url(/img/Rock2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25vh;
        height: 25vh;
        left: 65%;
        top: 15%;
    }
    
    #tutorial-cont {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    }
    
    #tutorial-action {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: row;
        top: -2%;
    }
    
    #tutorial-action:hover {
        cursor: pointer;
    }
    
    #tutorial-action-button {
        position: absolute;
        background-image: url(/img/action-button.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
        left: 92%;
        margin-top: -1%;
    }
    #tutorial-action-desc {
        left: 77%;
        top: 67.4%;
        position: absolute; 
        width: 14%;
    }

    header {
        position: fixed;
        z-index: 4;
        top: 5%;
        left: 60%;
        width: 100%;
      }

    #logo {
        position: absolute;
        right: 95%;
        background-image: url(/img/Logo.png);
        z-index: 4;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 2.5vw;
      }
      
      /* Style the links */
      a {
        text-decoration: none;
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 3vw;
      }

}

@media (max-width: 480px) and (min-width: 320px) {
    body {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    h1 {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 12vw;
    }
    
    h2 {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 2vw;
    }
    
    #header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #EFF1F4;
        z-index: 0;
        overflow: hidden;
    }
    
    #headline{
        position: absolute;
        top: 40%;
        width: 70%;
        left: 5%;
        z-index: 2;
    }
    
    #head-desc {
        position: absolute;
        width: 40%;
        top: 80%;
        left: 5%;
    }
    
    #action {
        cursor: pointer;
    }
    
    
    #action:hover {
        cursor: pointer;
    }
    
    #action-button {
        position: absolute;
        background-image: url(/img/action-button.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
        left: 5%;
        top: 90%;
    }
    #action-desc {
        left: 10%;
        top: 90.5%;
        position: absolute;
    }
    
    #bg-figure1 {
        position: absolute;
        z-index: 1;
        background-image: url(/img/Round\ Cube.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50vh;
        height: 50vh;
        left: 50%;
        top: 25%;
        animation: floating 3s ease-in-out infinite;
    }
    #bg-figure2 {
        position: absolute;
        z-index: 1;
        background-image: url(/img/Torus.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 40vh;
        height: 40vh;
        left: 65%;
        top: 15%;
        animation: floating2 3s ease-in-out infinite;
    }
    
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 10px); }
        100%   { transform: translate(0, -0px); }   
    }
    @keyframes floating2 {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 20px); }
        100%   { transform: translate(0, -0px); }   
    }
    
    
    #tutorials {
        position: relative;
        overflow-x: hidden;
        background-color: #E4E5EA;
        width: 100vw;
        height: 150vw;
    }
    
    #headline-2{ 
        position: relative;
        margin-top: 5%;
        width: 100%;
        left: 5%;
        z-index: 2; 
        font-size: 8vw;
    }
    
    #head-desc-2 {
        position: relative;
        width: 25%;
        top: 6%;
        left: 6%;
        color: #9C9C9C;
    }
    
    #tutorial-table {
        align-items: center;
        
    }
    
    #table {
        position: relative;;
        left: 5%;
        top: 10%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
    
    }
    
    .table-button {
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 2vw;
        border-radius: 7px;
        background-color: var(--color-panel);
        cursor: pointer;
        -webkit-transition: all 100ms;
         -moz-transition: all 100ms;
              transition: all 1 00ms;
              transition-timing-function: ease-in-out;
        width: 90vw;
        height: 8vw;
        margin-bottom: 2%;
        text-align: left;
        padding-left: 8%;
        
    }
    
    #tutorial-1 {
        
    }
    #tutorial-2 {
        
    }
    #tutorial-3 {
        
    }
    #tutorial-4 {
        
    }
    #tutorial-5 {
        
    }
    
    #table-header {
        position: relative;
        top: 0%;
        font-size: 3.5vw;
        width: 100%;
        left: 5%;
    }
    
    #tutorial-panel {
        position: relative;
        left: 5%;
        overflow: hidden;
        top: 5%;
        border-radius: 14px;
        width: 90vw;
        height: 35vw;
        background-color: white;
        
    }
    
    #tutorial-text {
        position: absolute;
        width: 50%;
        top: 30%;
        left: 5%;
    }
    
    #tutorial-img {
        position: absolute;
        z-index: 0;
        background-image: url(/img/Rock2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25vh;
        height: 25vh;
        left: 65%;
        top: 15%;
    }
    
    #tutorial-cont {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    }
    
    #tutorial-action {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: row;
        top: -2%;
    }
    
    #tutorial-action:hover {
        cursor: pointer;
    }
    
    #tutorial-action-button {
        position: absolute;
        background-image: url(/img/action-button.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
        left: 92%;
        margin-top: -1%;
    }
    #tutorial-action-desc {
        left: 77%;
        top: 67.4%;
        position: absolute; 
        width: 14%;
    }

    header {
        position: fixed;
        z-index: 4;
        top: 5%;
        left: 60%;
        width: 100%;
      }

    #logo {
        position: absolute;
        right: 95%;
        background-image: url(/img/Logo.png);
        z-index: 4;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 2.5vw;
      }
      
      /* Style the links */
      a {
        text-decoration: none;
        font-family: 'LL Riforma Regular';
        font-weight: normal;
        color: var(--color-maintext);
        font-size: 3vw;
      }
    
    
}
